body{
  font-family: "Geneva", Arial, sans-serif;
}

.web-slider {
  height: 730px;
  width: 100%;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.tematik-control:hover{
  background-color: rgba(0, 0, 0, 0.1);
}

.logo {
  width: 25%;
  min-width: 120px;
  height:auto;
}

.homes4 {
  width: 100%;
  height: auto;
}

.desc-homes {
  color: #333333;
}

.header{
  position: relative;
  z-index: 9;
}

.navbar{
  position: absolute;
  z-index: 11;
}

.map-pic {
  width: 90%;
  height:auto;
}

.head-spek{
  font-weight:650;
  color: rgb(47,61,46);
  text-align: center;
}

.carousel-indicators .active{
  background-color: rgb(47,61,46);
}

.carousel-indicators li{
  background-color: #d3cfcf;
}

@media only screen and (max-width: 1025px) {
  .web-slider {
    height:530px;
  }
}
@media only screen and (max-width: 770px) {
  .web-slider {
    height:420px;
  }
}

@media only screen and (max-width: 600px) {
  .web-slider {
    height:320px;
  }
}

@media only screen and (max-width: 500px) {
  .web-slider {
    height:220px;
  }
}